<main>
  
  <div class="div-block">  
    <h1>{{ title }}</h1>
  <div class="nueva-tarea">
    <input
      type="text"
      #inputTarea
      placeholder="Nueva Tarea"
      (keyup.enter)="taskStore.agregar(inputTarea.value); inputTarea.value = ''"
    />

    <button (click)="taskStore.agregar(inputTarea.value); inputTarea.value = ''">Agregar</button>
  </div>
<div class="div-block">  
  <ul>
    @for (tarea of taskStore.tareas(); track tarea.id) {
      <li >
        
        @if (tarea.completada) {
          <span class="iconoCheck" (click)="taskStore.toggle(tarea.id)" > ✅ </span>
          <span class="hecha"> {{ tarea.titulo }} </span> 
        }@else {
          <span class="iconoCheck" (click)="taskStore.toggle(tarea.id)" > ☑️  </span> 
          <span>{{ tarea.titulo }} </span> 
        }
        <button class="eliminar" (click)="taskStore.eliminar(tarea.id); $event.stopPropagation()">
        <span class="iconoDelte">🗑️</span>  
        </button>
      </li>
    } @empty {
      <li class="sin-tareas">No hay tareas. Agrega una!!</li>
    }
  </ul>
</div>

    <div class="borrar-tareas">
        <button 
        [disabled]="taskStore.completatas()<1"
        (click)="taskStore.limpiarCompletadas (); $event.stopPropagation()">Borrar ({{ taskStore.completatas() }}) completadas</button>
    </div >
    <br>
    <div class="div-block">  
      <p class="consola">
        Total: {{ taskStore.totalTareas() }},
        Pendientes: {{ taskStore.pendientes() }}, 
        Competatas: {{ taskStore.completatas() }}
  </div>
</div>
</main>

<router-outlet />
