<main>
  <h1>{{ title }}</h1>
  <p class="contador">Pendientes: {{ taskStore.pendientes() }}</p>
  <p class="contador">total: {{ taskStore.totalTareas() }}</p>

  <div class="nueva-tarea">
    <input
      type="text"
      #inputTarea
      placeholder="Nueva Tarea"
      (keyup.enter)="taskStore.agregar(inputTarea.value); inputTarea.value = ''"
    />

    <button (click)="taskStore.agregar(inputTarea.value); inputTarea.value = ''">Agregar</button>
  </div>

  <ul>
    @for (tarea of taskStore.tareas(); track tarea.id) {
      <li (click)="taskStore.toggle(tarea.id)" [class.hecha]="tarea.completada">
        {{ tarea.titulo }}
        @if (tarea.completada) {
          <span>✅</span>
        }
        <button class="eliminar" (click)="taskStore.eliminar(tarea.id); $event.stopPropagation()">🗑️</button>
      </li>
    } @empty {
      <li>No hay tareas. Agrega una!!</li>
    }
  </ul>
</main>

<router-outlet />
