main {
  max-width: 480px;
  margin: 3rem auto;
  font-family: system-ui, sans-serif;
}

h1 {
    display: flex;
    justify-content:center;
    margin-bottom: 0.25rem;
}

.barraStatus {
  color: #666;
  margin-top: 0;
}

.nueva-tarea {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.nueva-tarea input {
  flex: 1;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.nueva-tarea button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 6px;
  background: #1bd880;
  color: white;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 0.6rem 0.75rem;
  border: 1px solid #eee;
  border-radius: 6px;
  margin-bottom: 0.4rem;
  display: flex;
  justify-content: space-between;
  background: #fafafa;
  align-items: center;
}

li:hover {
  background: #e6f3f4;
}

.hecha {
  text-decoration: line-through;
  opacity: 0.6;
}

.eliminar {
  border: none;
  background: transparent;
  cursor: pointer;
  margin-left: auto;
}

.vacio {
  cursor: default;
  color: #999;
  text-align: center;
}

.borrar-tareas {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
  justify-content: flex-end;
}

.borrar-tareas button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 6px;
  background: #d81b60;
  color: white;
  cursor: pointer;
}

.div-block {
    background-color: #f3f4f6;
    border: 1px solid #d1d5db;
    border-radius: 10px;
    padding: 13px;
    margin: 15px 0;

    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Monaco, monospace;
    font-size: 14px;
    line-height: 1.6;
    color: #1f2937;
}

.consola {
 font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Monaco, monospace;
    font-size: 10px;
    line-height: 1.6;
    color: #4d5868;
    display: flex;
    justify-content:center;
}

.iconoCheck {
    margin-right: 8px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  user-select: none;
  cursor: pointer;
}

.sin-tareas {
    background: #fcffe3;

}