main {
  max-width: 480px;
  margin: 3rem auto;
  font-family: system-ui, sans-serif;
}

h1 {
   --chars: 16;
   display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  border-right: 2px solid black;
  animation:
    typing 2.5s steps(var(--chars)) forwards,
    blink .8s step-end infinite;
  font-family: monospace;
  user-select: none;
}
@keyframes typing {
  from {
    width: 0;
  }

  99% {
    border-right-color: #000000;
  }

  100% {
    width: calc(var(--chars) * 1ch);
    border-right-color: transparent;
  }
}

@keyframes blink {

  50% {
    border-color: transparent;
  }
}
.barraStatus {
  color: #666;
  margin-top: 0;
}





ul {
  list-style: none;
  padding: 0;
}



.vacio {
  cursor: default;
  color: #999;
  text-align: center;
}

.borrar-tareas {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
  justify-content: flex-end;
}

.borrar-tareas button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 6px;
  background: #d81b60;
  color: white;
  cursor: pointer;
}

.borrar-tareas button:disabled {
  background-color: #d1d5db;
  color: #6b7280;
  border: 1px solid #c4c4c4;
  cursor: not-allowed;
}

.div-block {
    background-color: #f3f4f6;
    border: 1px solid #d1d5db;
    border-radius: 10px;
    padding: 13px;
    margin: 15px 0;

    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Monaco, monospace;
    font-size: 14px;
    line-height: 1.6;
    color: #1f2937;
}

.consola {
 font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Monaco, monospace;
    font-size: 10px;
    line-height: 1.6;
    color: #4d5868;
    display: flex;
    justify-content:center;
}

.sin-tareas {
    background: #fcffe3;
}


.shake-bottom {
	-webkit-animation: shake-bottom 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: shake-bottom 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

@-webkit-keyframes shake-bottom {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
  10% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
}
@keyframes shake-bottom {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
  10% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
}
