
 li {
  padding: 0.3rem 0.75rem;
  border: 1px solid #eee;
  border-radius: 6px;
  margin-bottom: 0.2rem;
  display: flex;
  justify-content: space-between;
  background: #fafafa;
  align-items: center;
  overflow-wrap: anywhere;
  user-select: none;
}

li:hover {
  background: #e6f3f4;
}

li:has(.iconoCheck:hover) {
  background: #e5f7ff;
  border-left: 4px solid #1c77ff;

}


li:has(.iconoDelte:hover) {
  background: #d81b601f;
  border-right: 4px solid #d81b60;

}

.hecha {
  text-decoration: line-through;
  opacity: 0.6;
}

.eliminar {
  border: none;
  background: transparent;
  cursor: pointer;
  margin-left: auto;
}


.iconoCheck {
  margin-right: 8px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  user-select: none;
  cursor: pointer;
  transition: transform 0.2s ease;
}
.iconoCheck:hover {
  transform: scale(1.2);

}

.iconoDelte {
  margin-right: 8px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  user-select: none;
  cursor: pointer;
  transition: transform 0.2s ease;
}
.iconoDelte:hover {
  transform: scale(1.2);
}
